*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  outline: none;
  border: none;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
