@use 'sass:map';
// VARIABLES
@use '../../variables/spaces' as sp;
// MIXINS
@use '../../mixins/responsive-display' as rd;

.card-group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: map.get(sp.$spaces, 'medium');
  padding: map-get(sp.$spaces, 'extra-large') map-get(sp.$spaces, 'medium');

  @include rd.tablet-display {
    & {
      padding-inline: map-get(sp.$spaces, 'extra-large');
    }
  }
}
